src/main/resources/wsdl/whois.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ISoapWhoisServiceService" targetNamespace="http://soap.endpoints.whois.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.endpoints.whois.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://soap.endpoints.whois.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://soap.endpoints.whois.com/" version="1.0">

  <xs:element name="check" type="tns:check"/>

  <xs:element name="checkResponse" type="tns:checkResponse"/>

  <xs:complexType name="check">
    <xs:sequence>
      <xs:element name="whois11" type="tns:SoapWhoisRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SoapWhoisRequest">
    <xs:sequence>
      <xs:element name="domain" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:SoapWhoisResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SoapWhoisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="domain" type="xs:string"/>
      <xs:element minOccurs="0" name="owner" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="check">
    <wsdl:part name="parameters" element="tns:check">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkResponse">
    <wsdl:part name="parameters" element="tns:checkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISoapWhoisService">
    <wsdl:operation name="check">
      <wsdl:input name="check" message="tns:check">
    </wsdl:input>
      <wsdl:output name="checkResponse" message="tns:checkResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISoapWhoisServiceServiceSoapBinding" type="tns:ISoapWhoisService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="check">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="check">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISoapWhoisServiceService">
    <wsdl:port name="ISoapWhoisServicePort" binding="tns:ISoapWhoisServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ISoapWhoisServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
